{{template "DocumentStart" .}}

<style>
    .star {
        background-image: url('/static/star-solid.svg');
    }

    .star-empty {
        background-image: url('/static/star-regular.svg');
    }

    .trash {
        background-image: url('/static/trash-solid.svg');

    }

    .icon {
        background-size: 80% 80%;
        background-position: center;
        background-repeat: no-repeat;
    }
</style>
<div class="max-w-[800px] mx-auto my-0">
    {{if .Props.Folder }}
    <div class="px-2 pt-2 flex items-center justify-end text-lg">
        {{if Indexisfeatured .Props.Folder .Props.Folders }}
        <div onclick="removeFeaturedFolder()" class="w-6 h-6 cursor-pointer icon star"></div>
        {{else}}
        <div onclick="addFeaturedFolder()" class="w-6 h-6 cursor-pointer icon star-empty"></div>
        {{end}}
        Folder: <strong>{{.Props.Folder}}</strong>
    </div>
    {{end}}

    <div class="p-2">
        {{if .Props.IsKindle }}
        {{else}}
        <div>
            <strong>Output format</strong>
        </div>
        <select id="output-select" class="py-2 border-2 border-black mb-3 px-5 bg-white">
            <option value="mobi">MOBI</option>
            <option value="azw3">AZW3</option>
            <option value="epub">EPUB</option>
            <option value="pdf">PDF</option>
        </select>
        <div class="my-dropzone dropzone mb-10">
        </div>
        <div class="border border-black mb-5"></div>
        {{end}}
        <form class="flex items-center"
            onsubmit="event.preventDefault(); location.href='?folder='+document.getElementById('flodertb').value">
            <input id="flodertb" type="text" id="title" class="border border-black py-1 px-4 bg-white w-100"
                placeholder="Folder name">
            <button class="bg-black text-white py-1 px-4" type="submit">GO</button>
            <div class="flex-1"></div>
            <select id="category-select" onchange="location.href='?folder='+this.value" class="py-2 border-2 border-black w-150  px-5 bg-white">
                <option value="">Home</option>
                {{range .Props.Folders}}
                <option value="{{.Name}}" {{if Indexisequal .Name $.Props.Folder}} selected="selected"{{end}}>{{.Name}}</option>
                {{end}}
            </select>
        </form>

        <div class="mb-3 mt-5">
            <strong>Download List</strong>
        </div>

        {{range .Props.Entries}}

        <div class="py-2 border-2 border-black mb-3 px-5 bg-white flex ">
            <a href="/api/read/?path={{.}}&folder={{$.Props.Folder}}" class="flex-1 underline">
                {{.}}
            </a>
            <div onclick="deleteFile('{{.}}')" class="rounded-md border-2 border-black w-6 h-6 cursor-pointer icon trash">
            </div>
        </div>

        {{end}}
    </div>
</div>
<script>
    var folder = "{{.Props.Folder}}"
    function loadDropZone() {
        let ele = document.querySelector("div.my-dropzone")
        ele.classList.add("dropzone")

        let dropzone = undefined;
        try {
            dropzone = new Dropzone("div.my-dropzone", {
                url: "/api/upload/",
                parallelUploads: 3,
                paramName: "file",
                maxFilesize: 1024 * 5,
            });
        } catch (ex) {
            location.reload()
        }

        if (dropzone != undefined) {
            dropzone.on("sending", function (file, xhr, formData) {
                // Will send the filesize along with the file as POST data.
                let output = document.getElementById("output-select");
                formData.append("output", output.value);
                formData.append("folder", folder);
                // formData.append("name", file.name)
            });
            dropzone.on("complete", function () {
                if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
                    let b64Str = " "
                    location.reload()
                }
            })
        }

    }
    try {
        loadDropZone();
    } catch (ex) {

    }

    function deleteFile(path) {
        if (confirm("Are you sure to delete this file?")) {
            fetch(`/api/delete/?path=${path}&folder=${folder}`).then((res) => {
                location.reload()
            })
        }
    }

    function addFeaturedFolder( ) {
        fetch(`/api/folder/add/?folder=${folder}`).then((res) => {
            location.reload()
        })
    }

    function removeFeaturedFolder( ) {
        fetch(`/api/folder/delete/?folder=${folder}`).then((res) => {
            location.reload()
        })
    }
</script>
{{template "DocumentEnd" .}}
